<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>PAGE POTIN</h1>
    <h3>Voici la page du potin n°<%= id %></h3>
        <p>
          Son Auteur : <%= gossip.author %><br/>
          Le contenu du potin : <%= gossip.content %>
        </p>
    <a href = '/'>Retour à l'acceuil</a>
  </body>
</html>